@import './../../assets/style/App.scss';

.icon{
  display: block;

  @include max(1920px){
      display: block;
      height: 22px;
      width: 30px;
      position: relative;
      cursor: pointer;
      z-index: 5;

      span {
        transition: all .3s ease 0s;
        top: calc(50% - 1px);
        left: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $color-accent;
        &:first-child {
          top: 0;
        }

        &:last-child {
          top: auto;
          bottom: 0;
        }
      }

      .active {
        span{
          transform: scale(0);

          &:first-child {
            transform: rotate(135deg);
            top: calc(50% - 1px);
          }

          &:last-child {
            transform: rotate(-135deg);
            bottom: calc(50% - 1px);
          }
        }
      }


    }

}
