@import './../../assets/style/App.scss';

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-main;
  font-weight: 800;
  line-height: 1.18;
  letter-spacing: 1.275px;
  font-size: 16px;
  color: $color-bg;
  background-color: $color-accent;
  text-transform: uppercase;
  transition: background-color .2s, color .2s;
  @include hover{
    color: $color-accent;
    background-color: $color-bg;
  }

  &__invert{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-main;
    font-weight: 800;
    line-height: 1.18;
    letter-spacing: 1.275px;
    font-size: 16px;
    text-transform: uppercase;
    background-color: transparent;
    color: $color-accent;
    border: 3px solid $color-accent;
  }
}
.hover{
  color: $color-accent;
  background-color: $color-bg;
}
