@import './../../assets/style/App.scss';

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 0;

  &__icon{
    display: flex;
    align-items: center;
    gap: 24px;
  }
  &__navigation{
    display: inline-flex;
    align-items: center;
    gap: 24px;
    @include phone{
      gap: 0;
    }
    @include max(500px){
      display: none;
    }
  }
}